---
import Layout from "layouts/Layout.astro";

---

<Layout title="index page" description="papapa">
  <h1>Astro</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias obcaecati at suscipit nihil reprehenderit sint enim numquam! Veritatis blanditiis earum cumque beatae ab rerum est ipsum laudantium eligendi architecto! Perspiciatis.
  </p>
</Layout>
<style>
h1 {
  color: var(--color-accent);

  @media (--viewport-mobile) {
    display: inline;
    font-size: 1rem;
  }
}
</style>
