---
import Block from "components/block.astro"
import FaIcon from "./fa_icon.astro"
import {faArrowRight} from "@fortawesome/free-solid-svg-icons"

type Props = {
  href: string
}

const {href} = Astro.props
---
<Block as="a" href={href} class="container">
  <span>
    <slot />
  </span>
  <FaIcon definition={faArrowRight} class="icon" />
</Block>

<style>
  .container {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;

    padding: 2step;

    color: var(--color-text-primary);
    text-decoration: none;
  }

  .icon {
    width: 16px;
    margin-left: 2step;
  }
</style>
