---
type Props = {
  links: {title: string, href: string}[]
  class?: string
}

const fullNames: Record<string, string> = {
  ru: "Максим Елисеев",
  en: "Max Eliseev"
}

const {links, class: classProp, ...restProps} = Astro.props
const fullName = fullNames[Astro.currentLocale || "ru"]
---
<footer class:list={["container", classProp]} {...restProps}>
  <span>
    2024 {fullName}
  </span>
  <ul class="links">
    {links.map(link => (
      <li class="link">
        <a href={link.href} rel="noopener noreferrer" target="_blank">
          {link.title}
        </a>
      </li>
    ))}
  </ul>
</footer>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 1step;

    border-top: 2px dashed var(--color-border);

    @media (--viewport-mobile) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  .links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .link {
    margin-left: 1step;
    text-transform: lowercase;

    &:first-of-type {
      margin-left: 0;
    }
  }
</style>
