---
import type {IconDefinition} from "@fortawesome/free-brands-svg-icons"

import FaIcon from "components/system/fa_icon.astro"

export type Props = {
  title: string
  href: string
  icon: IconDefinition
}

const {title, href, icon} = Astro.props
const isExtenal = href.startsWith("https://")
const attributes = isExtenal ? {target: "_blank", rel: "noopener noreferrer"} : {}
---
<a class="container" {...{href, title}} {...attributes}>
  <FaIcon definition={icon} class="icon" />
</a>

<style>
.container {
  color: var(--color-text-secondary);
  text-decoration: none;
  transition: color ease 0.2s;

  &:hover {
    color: var(--color-text-primary);
  }
}

.icon {
  width: 24px;
  max-height: 24px;
}
</style>
